---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";

const components = await getCollection("components");
---

<Layout title="Components">
  <section class="section">
    <div class="padding-global">
      <div class="container">
        <div class="max-w-screen-sm">
          <h1 class="mb-6">Explore the library</h1>
          <p class="mb-8 text-gray-600">
            Search for the component you want to copy and paste into your
            Webflow project. Before you start be sure to add the style guide so
            all of the classes sync up.
          </p>
        </div>
        <input
          type="text"
          placeholder="Search for a component"
          class="border border-gray-300 p-4 rounded-lg w-full mb-4"
        />
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {
            components.map((component) => (
              <Card
                title={component.data.title}
                image={component.data.image}
                json={component.data.json}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
