---
import Layout from "../layouts/Layout.astro";
import ComponentList from "../components/ComponentList.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const components = await getCollection("components");
const categories = Array.from(
  new Set(components.map((component) => component.data.category))
);
---

<Layout title="Components">
  <div
    class="grid grid-cols-[max-content_1fr] grid-rows-[max-content_1fr] h-screen"
  >
    <div
      class="col-span-2 py-4 px-4 border-b border-gray-200 flex items-center justify-between gap-6"
    >
      <div class="flex items-center gap-6 grow">
        <div class="logo text-2xl">
          FlowState<sup class="text-sm text-gray-500">UI</sup>
        </div>
        <div
          class="flex items-center gap-2 text-base border border-gray-300 px-4 py-3 rounded-lg shadow-sm bg-white leading-none max-w-lg w-full"
        >
          <Icon name="ph:magnifying-glass" class="text-gray-500" />
          <input
            type="text"
            placeholder="Search for a component..."
            class="w-full"
          />
        </div>
      </div>
      <div class="flex items-center justify-center gap-4">
        <a href="" class="text-base text-gray-700">Home</a>
        <a href="" class="text-base text-gray-700">Library</a>
        <div class="flex items-center gap-2">
          <a href="" class="btn btn-secondary">Login</a>
        </div>
      </div>
    </div>
    <div class="flex gap-4 flex-col p-4 border-r border-gray-200">
      <a href="" class="btn btn-primary"
        ><Icon name="ph:copy" />Copy the style guide</a
      >
      <select name="categories" class="btn btn-secondary w-full">
        <option value="">All Categories</option>
        {
          categories.map((category) => (
            <option value={category}>{category}</option>
          ))
        }
      </select>
    </div>
    <div class="p-4">
      <ComponentList />
    </div>
  </div>
</Layout>
