---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
---

<Layout title="Flowslate">
  <Header />
  <main>
    <section class="pt-48 bg-white">
      <div class="container">
        <div class="max-w-screen-sm">
          <h1 class="mb-6">Explore the library</h1>
          <p class="mb-8 text-xl text-zinc-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
        </div>
      </div>
    </section>
    <section class="py-6">
      <div class="container">
        <input
          type="text"
          placeholder="Search for a component"
          class="border border-zinc-300 p-4 rounded-lg w-full mb-4"
        />
        <div class="grid grid-cols-3 gap-4">
          <Card title="Testing" />
          <Card title="Testing" />
          <Card title="Testing" />
        </div>
      </div>
    </section>
  </main>
</Layout>
