---
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const { image, title } = Astro.props;
---

<div
  class="p-4 border bg-white border-zinc-300 rounded-lg hover:shadow-sm transition"
>
  <Image
    src={image}
    alt={title}
    class="aspect-video w-full bg-zinc-100 object-contain object-top rounded-sm p-2"
  />
  <div class="text-2xl mb-3">{title}</div>
  <div class="flex gap-2">
    <Button
      text="Copy this component"
      variant="secondary"
      class="grow flex justify-center"
    />
    <a href="#" class="bg-zinc-100 p-4 rounded-lg">
      <Icon name="ph:eye" />
    </a>
  </div>
</div>
