---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const { image, title, json } = Astro.props;
---

<div
  class="p-4 border bg-white border-zinc-300 rounded-lg hover:shadow-sm transition"
>
  <Image
    src={image}
    alt={title}
    class="aspect-video w-full bg-zinc-100 object-contain object-top rounded-sm p-2"
  />
  <div class="text-2xl mb-3">{title}</div>
  <div class="flex gap-2">
    <button class="copy-btn" data-json={json}> Copy Text </button>
    <a href="#" class="bg-zinc-100 p-4 rounded-lg">
      <Icon name="ph:eye" />
    </a>
  </div>
</div>

<script>
  const copyText = (text) => {
    if (navigator.clipboard) {
      navigator.clipboard
        .writeText(text)
        .then(() => {
          alert("Text copied to clipboard!");
        })
        .catch((err) => {
          console.error("Failed to copy text: ", err);
        });
    } else {
      console.error("Clipboard API not supported");
    }
  };

  const copyButton = document.querySelector(".copy-btn");

  copyButton?.addEventListener("click", () => {
    const textToCopy = copyButton.getAttribute("data-json");

    copyText(textToCopy);
  });
</script>
