---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

const { image, title, json } = Astro.props;
---

<div
  class="flex flex-col gap-4 p-4 border bg-white border-gray-300 rounded-lg hover:shadow-sm transition"
>
  <img
    src={image}
    alt={title}
    class="aspect-video w-full bg-gray-100 object-contain object-top rounded p-3"
  />
  <div class="text-2xl">{title}</div>
  <div class="flex gap-2">
    <Button
      text="Copy this component"
      variant="secondary"
      class="grow justify-center"
    />
    <a href="#" class="bg-gray-100 p-4 rounded-lg">
      <Icon name="ph:eye" />
    </a>
  </div>
</div>

<script>
  const copyText = (text) => {
    if (navigator.clipboard) {
      navigator.clipboard
        .writeText(text)
        .then(() => {
          alert("Text copied to clipboard!");
        })
        .catch((err) => {
          console.error("Failed to copy text: ", err);
        });
    } else {
      console.error("Clipboard API not supported");
    }
  };

  const copyButton = document.querySelector(".copy-btn");

  copyButton?.addEventListener("click", () => {
    const textToCopy = copyButton.getAttribute("data-json");

    copyText(textToCopy);
  });
</script>
