---
const { title } = Astro.props;
---

<div class="p-4 border border-zinc-300 rounded-lg hover:shadow-sm transition">
  <img src="" alt="" class="aspect-video bg-zinc-100 mb-4 rounded-md" />
  <div class="text-2xl mb-3">
    {title}
  </div>
  <div class="flex items-center">
    <a href="/" class="button">Copy this component</a>
  </div>
</div>
