---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

const components = await getCollection("components");
const categories = Array.from(
  new Set(components.map((component) => component.data.category))
);
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    components.map((component) => (
      <div class="bg-white border border-gray-300 rounded-lg hover:shadow-sm transition overflow-hidden">
        <img
          src={component.data.image}
          alt={component.data.title}
          class="aspect-video w-full bg-gray-100 object-contain object-top p-4"
        />
        <div class="flex gap-2 flex-col p-4">
          <div class="text-2xl">{component.data.title}</div>
          <div class="flex gap-2">
            <a
              href=""
              class="btn btn-secondary grow text-center justify-center"
              data-json={component.data.json}
            >
              <Icon name="ph:copy" />
              Copy this component
            </a>
            <a href="" class="btn btn-secondary">
              <Icon name="ph:eye" />
            </a>
          </div>
        </div>
      </div>
    ))
  }
</div>
<script>
  const copyButtons = document.querySelectorAll("[data-json]");

  let jsonSnippetToCopy = "";

  document.addEventListener("copy", function (event) {
    if (jsonSnippetToCopy) {
      event.clipboardData.setData("application/json", jsonSnippetToCopy);
      event.preventDefault();
      jsonSnippetToCopy = "";
    }
  });

  copyButtons.forEach((button) => {
    const htmlButton = button as HTMLElement;
    let copyContent = htmlButton.getAttribute("data-json");

    htmlButton.onclick = function () {
      try {
        let jsonSnippetToCopy = JSON.stringify(JSON.parse(copyContent!)); // The '!' asserts that copyContent is not null

        document.execCommand("copy");

        htmlButton.innerText = "Copied to clipboard";
        changeButtonText(htmlButton);
      } catch (err) {
        console.error("Failed to parse JSON: ", err);
      }
    };
  });

  function changeButtonText(button) {
    setTimeout(() => {
      button.innerText = "Copy this element";
    }, 1000);
  }
</script>
