---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FlowSlate - {title}</title>
  </head>
  <body>
    <Header />
    <main><slot /></main>
    <Footer />
  </body>
</html>
<style is:global>
  h1 {
    @apply text-4xl md:text-5xl font-semibold;
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold;
  }

  .padding-global {
    @apply px-[5%];
  }

  .container {
    @apply max-w-screen-xl m-auto;
  }

  .section {
    @apply md:py-32 py-14;
  }

  .nav-link {
    @apply text-gray-900 hover:text-gray-900;
  }

  .icon {
    @apply size-10 p-2 bg-gray-100 dark:text-gray-300 dark:bg-gray-800 rounded-md;
  }
</style>
