---
import "@fontsource-variable/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FlowStateUI - {title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  h1 {
    @apply text-4xl font-semibold md:text-5xl;
  }

  h2 {
    @apply text-3xl font-semibold md:text-4xl;
  }

  .padding-global {
    @apply px-[5%];
  }

  .container {
    @apply m-auto max-w-screen-xl;
  }

  .section {
    @apply py-14 md:py-32;
  }

  .nav-link {
    @apply text-gray-900 hover:text-gray-900;
  }

  .icon {
    @apply size-10 rounded-md bg-gray-100 p-2 dark:bg-gray-800 dark:text-gray-300;
  }

  .btn {
    @apply flex gap-2 rounded-lg border px-4 py-3 text-base leading-none shadow-sm;
  }

  .btn-primary {
    @apply btn border-gray-900 bg-gray-900 text-white transition hover:bg-gray-800;
  }

  .btn-secondary {
    @apply btn border-gray-300 bg-white text-gray-900 transition hover:bg-gray-50;
  }
</style>
